<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>934781705613-sr08rs888h11ilvaeneen53tat65fcit.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.934781705613-sr08rs888h11ilvaeneen53tat65fcit</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>934781705613-qbdbeaakq23oq2ivvpi60japugkbfqb8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA9LipBYvAvIQwaIQ-gtGl5zCsHRtdwcRE</string>
	<key>GCM_SENDER_ID</key>
	<string>934781705613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fitmatricsApp</string>
	<key>PROJECT_ID</key>
	<string>fitmetrics-kapil</string>
	<key>STORAGE_BUCKET</key>
	<string>fitmetrics-kapil.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:934781705613:ios:ca4f2405753e60aac9b1c4</string>
</dict>
</plist>flutter build apk --release